# Fusion fusion-server service file
[Unit]
Description=Fusion Server
After=network.target
ConditionKernelCommandLine=service_profile=prod

[Service]
Type=simple
ExecStart=/usr/local/bin/fusion-server-start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
