# Fusion fusion-server service file
# This file is to be used only by multipass. 
# If you edit this file, please edit the files in meta-fusion to maintain sync

[Unit]
Description=Fusion Server
After=network.target
After=network-online.target keepalived.service
Wants=network-online.target
Requires=keepalived.service

[Service]
Type=simple
Environment=FUSION_NET_IFACE=enp0s1
Environment=FUSION_IOT_ENABLED=true
Environment=FUSION_IOT_ENDPOINT=<iot endpoint>
Environment=FUSION_IOT_TOPIC_PREFIX=logs/
ExecStart=/usr/local/bin/fusion-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
