# Fusion fusion-server service file
[Unit]
Description=Fusion Server
After=network.target
ConditionKernelCommandLine=service_profile=prod
After=network-online.target keepalived.service
Wants=network-online.target
Requires=keepalived.service

[Service]
Type=simple
Environment=FUSION_NET_IFACE=lan1
ExecStart=/usr/local/bin/fusion-server-start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
