# Fusion keepalived service file
# This file is to be used only by multipass. 
# If you edit this file, please edit the files in meta-fusion to maintain sync

[Unit]
Description=Keepalived VRRP Framework
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
NotifyAccess=all
KillMode=process
EnvironmentFile=-/etc/default/keepalived
ExecStart=/usr/sbin/keepalived --dont-fork $DAEMON_ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
