**/.DS_Store
**/.vscode
**/test.test
**/xcuserdata
**/xcuserstate
build
cloud-init.yaml
fusion-env
fusion-server.yaml
fusion/test/dummy
fusion/test/tasks_test.json
multipass.env
data
ignoredFiles/*
*.test
fusion/internal/gen/proto/
fusion/fusion
