global
    log stdout format raw local0 debug
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:8081
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    default-server inter 10s fall 3 rise 2
    server server1 172.18.0.3:8080 check
    server server2 172.18.0.4:8080 check
    server server3 172.18.0.5:8080 check
    server server4 172.18.0.6:8080 check

