global
    log stdout format raw local0 debug
    maxconn 32768
    user haproxy
    group haproxy
    
defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
   bind *:80
   default_backend servers

# Make sure there's a newline at the end of the file

