{
    "session": {
        "property_settings": [
            { "name": "frame_size", "value": 32},
            { "name": "sample_rate", "value": 48000 }
        ]
    },
    "audio_tasks": [
        {
            "name": "task1",
            "property_settings": [
                { "name": "is_jack_client", "value": false },
                { "name": "frame_size", "value": 32},
                { "name": "sample_rate", "value": 48000 },
                { "name": "timing_log_file", "value": "{{ output_file }}" },
                { "name": "profile_blocks", "value" : true }
            ],
            "blocks": [
                {
                    "name": "infile",
                    "algorithm": "wav_read",
                    "property_settings": [
                        { "name": "frame_size", "value": 32 },
                        { "name": "sample_rate", "value": 48000 },
                        { "name": "filename", "value": "{{ wav_input }}"}
                    ],
                    "terminal_channels": [
                        { "name": "out", "channels": 1 }
                    ]
                },
                {
                    "name": "fir_hybrid",
                    "algorithm": "fir_hybrid",
                    "property_settings": [
                        { "name": "channels", "value": {{ channels }} },
                        { "name": "num_taps", "value": {{ num_taps }} },
                        { "name": "direct_taps", "value": {{ direct_taps }} },
                        { "name": "frame_size", "value": 32 },
                        { "name": "sample_rate", "value": 48000 }
                    ]
                },
                {
                    "name": "outfile",
                    "algorithm": "wav_write",
                    "property_settings": [
                        { "name": "frame_size", "value": 32 },
                        { "name": "sample_rate", "value": 48000 }
                    ],
                    "terminal_channels": [
                        { "name": "in", "channels": {{ channels }} }
                    ]
                }
            ],
            "block_connections": [
                {% for channel in range(1,channels+1) %}
                {
                  "source_block": "infile",
                  "output_terminal": "out",
                  "output_channel": 1,
                  "destination_block": "fir_hybrid",
                  "input_terminal": "in",
                  "input_channel": {{ channel }}
              },
              {
                  "source_block": "fir_hybrid",
                  "output_terminal": "out",
                  "output_channel": {{ channel }},
                  "destination_block" : "outfile",
                  "input_terminal": "in",
                  "input_channel": {{ channel }}
              }{{ "," if not loop.last else "" }}
              {% endfor %}
            ]
        }
      
    ],
    "parameter_settings": [
        {% for i in range(num_taps) %}
        {
            "target": "fir_hybrid",
            "name": "coefficients",
            "index": [{{ i + 1 }}],
            "value": {{ (0.001 if i == 0 else 0.0) }}
        }{{ "," if not loop.last else "" }}
        {% endfor %}
    ]
}
